/bot
/data
/erg.c#
/gg.css
/Hw
/JavaScript
/Learning
/main_files.bak
/main_files.dat
/main_files.dir
/open_case.bak
/open_case.dat
/open_case.dir
/Projects
/PyQt
/pythontutor.py
/stepik
/test1.txt.bak
/test1.txt.dat
/test1.txt.dir
/Tests
/tkinter
/Untitled-1.py
/web-browser